<div>
    <input
      type="text"
      name="ime"
      [(ngModel)]="clan.ime"
      placeholder="ime"
      value="{{ clan.ime }}"
    />
    <input
      type="text"
      name="opis"
      [(ngModel)]="clan.prezime"
      placeholder="prezime"
      value="{{ clan.prezime }}"
    />
    <button (click)="izmeni()">Izmeni clana</button>
  </div>
  