<table style="width: 100%;">
    <tr>
      <th>Id</th>
      <th>Naslov</th>
      <th>Autor</th>
      <th>Isbn</th>
      <th>Detalji</th>
      <th>Obrisi</th>
    </tr>
    <tr *ngFor="let knjiga of knjige">
      <td>{{ knjiga.id }}</td>
      <td>{{ knjiga.naslov }}</td>
      <td>{{ knjiga.autor }}</td>
      <td>{{ knjiga.isbn }}</td>
      <td><a [routerLink]="['/knjiga', knjiga.id]">Detalji</a></td>
      <td><a class="obrisi" (click)="obrisi(knjiga.id)">Obrisi</a></td>
    </tr>
  </table>
  
  <app-knjiga-dodaj (onSubmit)="dodajKnjigu($event)"></app-knjiga-dodaj>
  