<div>
    <input
      type="text"
      name="naslov"
      [(ngModel)]="novaKnjiga.naslov"
      placeholder="naslov"
    />
    <input
      type="text"
      name="autor"
      [(ngModel)]="novaKnjiga.autor"
      placeholder="autor"
    />
    <input
      type="number"
      name="isbn"
      [(ngModel)]="novaKnjiga.isbn"
      placeholder="isbn"
    />
    <button (click)="prosledi()">Dodaj knjigu</button>
  </div>
  