<div>
    <input
      type="text"
      name="ime"
      [(ngModel)]="novClan.ime"
      placeholder="ime"
    />
    <input
      type="text"
      name="prezime"
      [(ngModel)]="novClan.prezime"
      placeholder="prezime"
    />
    <button (click)="prosledi()">Dodaj clana</button>
  </div>
  