<table style="width: 100%;">
    <tr>
      <th>Id</th>
      <th>Ime</th>
      <th>Prezime</th>
      <th>Detalji</th>
      <th>Obrisi</th>
    </tr>
    <tr *ngFor="let clan of clanovi">
      <td>{{ clan.id }}</td>
      <td>{{ clan.ime }}</td>
      <td>{{ clan.prezime }}</td>
      <td><a [routerLink]="['/clan', clan.id]">Detalji</a></td>
      <td><a class="obrisi" (click)="obrisi(clan.id)">Obrisi</a></td>
    </tr>
  </table>
  
  <app-clan-dodaj (onSubmit)="dodajClana($event)"></app-clan-dodaj>
  