<div>
    <select name="izabranaKnjigaId" [(ngModel)]="izabranaKnjigaId">
      <option *ngFor="let knjiga of knjige" value="{{ knjiga.id }}">{{
        knjiga.naslov
      }}</option>
    </select>
    <select name="izabranClanId" [(ngModel)]="izabranClanId">
      <option *ngFor="let clan of clanovi" value="{{ clan.id }}">{{
        clan.ime
      }}</option>
    </select>
    <input
      type="date"
      name="datumVracanja"
      [(ngModel)]="novoIznajmljivanje.datumVracanja"
      placeholder="datumVracanja"
    />
    <input
      type="date"
      name="datumIznajmljivanja"
      [(ngModel)]="novoIznajmljivanje.datumIznajmljivanja"
      placeholder="datumIznajmljivanja"
    />
    <button (click)="prosledi()">Dodaj iznajmljivanje</button>
  </div>
  