<nav>
  <ul>
    <li><a [routerLink]="['/knjiga']">Knjiga</a></li>
    <li><a [routerLink]="['/iznajmljivanje']">Iznajmljivanje</a></li>
    <li><a [routerLink]="['/clan']">Clan</a></li>
  </ul>
</nav>

<router-outlet></router-outlet>
