<div>
    <select
      name="izabranaKnjigaId"
      [(ngModel)]="izabranaKnjigaId"
      value="{{ iznajmljivanje.knjigaId }}"
    >
      <option *ngFor="let knjiga of knjige" value="{{ knjiga.id }}">{{
        knjiga.naslov
      }}</option>
    </select>
    <select
      name="izabranClanId"
      [(ngModel)]="izabranClanId"
      value="{{ iznajmljivanje.clanId }}"
    >
      <option *ngFor="let clan of clanovi" value="{{ clan.id }}">{{
        clan.ime
      }}</option>
    </select>
    <input
      type="date"
      name="datumVracanja"
      [(ngModel)]="iznajmljivanje.datumVracanja"
      placeholder="datumVracanja"
      value="{{ iznajmljivanje.datumVracanja }}"
    />
    <input
      type="date"
      name="datumIznajmljivanja"
      [(ngModel)]="iznajmljivanje.datumIznajmljivanja"
      placeholder="datumIznajmljivanja"
      value="{{ iznajmljivanje.datumIznajmljivanja }}"
    />
    <button (click)="izmeni()">Izmeni iznajmljivanje</button>
  </div>
  