<div>
    <input
      type="text"
      name="naslov"
      [(ngModel)]="knjiga.naslov"
      placeholder="naslov"
      value="{{ knjiga.naslov }}"
    />
    <input
      type="text"
      name="autor"
      [(ngModel)]="knjiga.autor"
      placeholder="autor"
      value="{{ knjiga.autor }}"
    />
    <input
      type="number"
      name="isbn"
      [(ngModel)]="knjiga.isbn"
      placeholder="isbn"
      value="{{ knjiga.isbn }}"
    />
    <button (click)="izmeni()">Izmeni knjigu</button>
  </div>
  