<table style="width: 100%;">
    <tr>
      <th>Id</th>
      <th>Knjiga Id</th>
      <th>Clan Id</th>
      <th>Datum vracanja</th>
      <th>Datum iznajmljivanja</th>
      <th>Detalji</th>
      <th>Obrisi</th>
    </tr>
    <tr *ngFor="let iznajmljivanje of iznajmljivanja">
      <td>{{ iznajmljivanje.id }}</td>
      <td>{{ iznajmljivanje.knjigaId }}</td>
      <td>{{ iznajmljivanje.clanId }}</td>
      <td>{{ iznajmljivanje.datumVracanja }}</td>
      <td>{{ iznajmljivanje.datumIznajmljivanja }}</td>
      <td><a [routerLink]="['/iznajmljivanje', iznajmljivanje.id]">Detalji</a></td>
      <td><a class="obrisi" (click)="obrisi(iznajmljivanje.id)">Obrisi</a></td>
    </tr>
  </table>
  
  <app-iznajmljivanje-dodaj
    (onSubmit)="dodajIznajmljivanje($event)"
  ></app-iznajmljivanje-dodaj>
  