<h1>Id: {{ iznajmljivanje.id }}</h1>
<h1>Knjiga Id: {{ iznajmljivanje.knjigaId }}</h1>
<h1>Deo Id: {{ iznajmljivanje.clanId }}</h1>
<h1>Datum Vracanja: {{ iznajmljivanje.datumVracanja }}</h1>
<h1>Datum Iznajmljivanja: {{ iznajmljivanje.datumIznajmljivanja }}</h1>

<a (click)="otvoriIzmenu()">Izmeni iznajmljivanje</a>
